# Numerous always-ignore extensions
*.pyc
*.pyo
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache

# build and dist folders
build
dist

# special dirs
src/cache
src/logs

# OS or Editor folders
.pydevproject
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# IntelliJ IDEA
.idea

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
node_modules